:root > * {
    --md-code-hl-name-color: var(--md-code-hl-number-color);
    --md-admonition-icon--template: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="black" width="48px" height="48px"><g><rect fill="none" height="24" width="24" x="0" y="0"/></g><g><g><path d="M20,2H4C2.9,2,2,2.9,2,4v18l4-4h14c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M20,16H5.17L4,17.17V4h16V16z"/><polygon points="12,15 13.57,11.57 17,10 13.57,8.43 12,5 10.43,8.43 7,10 10.43,11.57"/></g></g></svg>');
    --md-admonition-icon--mutation-type: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="48px" height="48px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 2v6h.01L6 8.01 10 12l-4 4 .01.01H6V22h12v-5.99h-.01L18 16l-4-4 4-3.99-.01-.01H18V2H6zm10 14.5V20H8v-3.5l4-4 4 4zm-4-5l-4-4V4h8v3.5l-4 4z"/></svg>');
    --md-admonition-icon--trait: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="48px" height="48px"><path d="M0 0h24v24H0z" fill="none"/><path d="M22 5v2h-3v3h-2V7h-3V5h3V2h2v3h3zm-3 14H5V5h6V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6h-2v6zm-4-6v4h2v-4h-2zm-4 4h2V9h-2v8zm-2 0v-6H7v6h2z"/></svg>');
}
.md-typeset .admonition.template, .md-typeset details.template {
  border-color: rgb(43, 155, 70);
}
.md-typeset .template > .admonition-title, .md-typeset .template > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .template > .admonition-title::before, .md-typeset .template > summary::before {
  background-color: rgb(31, 202, 71);
  -webkit-mask-image: var(--md-admonition-icon--template);
          mask-image: var(--md-admonition-icon--template);
}

.md-typeset .admonition.mutation-type, .md-typeset details.mutation-type {
    border-color: rgb(250, 143, 20);
}
.md-typeset .mutation-type > .admonition-title, .md-typeset .mutation-type > summary {
background-color: rgba(250, 143, 20, 0.1);
}
.md-typeset .mutation-type > .admonition-title::before, .md-typeset .mutation-type > summary::before {
background-color: rgb(250, 143, 20);
-webkit-mask-image: var(--md-admonition-icon--mutation-type);
        mask-image: var(--md-admonition-icon--mutation-type);
}


.md-typeset .admonition.trait, .md-typeset details.trait {
    border-color: rgb(215, 20, 250);
}
.md-typeset .trait > .admonition-title, .md-typeset .trait > summary {
background-color: rgba(215, 20, 250, 0.1);
}
.md-typeset .trait > .admonition-title::before, .md-typeset .trait > summary::before {
background-color: rgb(215, 20, 250);
-webkit-mask-image: var(--md-admonition-icon--trait);
        mask-image: var(--md-admonition-icon--trait);
}
